SECRET_KEY=replace-with-a-random-string
ADMIN_PASSWORD=change-this-password
SHOWS_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vSOlTEvbpt1radzheruEhEjNFKFpf1H4zI-ONorZW_UjMf4OuShE2CFZKJzti63Lj1dE3pU7eIrt_u0/pub?output=csv
